* {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  position: relative;
  height: 100vh;
  max-width: 600px;
  min-width: 600px;
  max-height: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.login-main {
  background-image: url("../img/bgimg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0 auto;

  .login-container {
    display: block;
    position: relative;
    top: 23%;
    width: 80%;
    margin: 0 auto;

    .image {
      display: block;
      position: relative;
      width: auto;
      text-align: center;
      margin: 0 auto;
    }

    .form {
      display: block;
      position: relative;
      top: 5%;
      width: 100%;
      height: 40%;
      text-align: center;
      margin: 0 auto;
      padding: 2%;

      input {
        display: inline-block;
        width: 100%;
        padding: 2%;
        margin: 1% auto;
        font-size: 1em;
        font-style: italic;
        color: white;
        background-color: black;
        cursor: pointer;
        border: black solid 1px;
        border-bottom: yellow solid 2px; 
        outline: none;
      }
      

      .homeButton {
        display: inline-block;
        position: relative;
        width: 40%;
        height: 30%;
        padding: 4%;
        font-size: 1.1em;
        font-weight: bolder;
        color: black;
        background-color: yellow;
        border: yellow solid 2px;
        border-radius: 7%;
        margin: 6% auto;
      }
    }
  }
}
